.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product,
.woocommerce .grve-right-sidebar ul.products li.product,
.woocommerce-page .grve-right-sidebar ul.products li.product,
.woocommerce .grve-left-sidebar ul.products li.product,
.woocommerce-page .grve-left-sidebar ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce .grve-right-sidebar .related ul li.product,
.woocommerce .grve-right-sidebar .related ul.products li.product,
.woocommerce .grve-right-sidebar .upsells.products ul li.product,
.woocommerce .grve-right-sidebar .upsells.products ul.products li.product,
.woocommerce-page .grve-right-sidebar .related ul li.product,
.woocommerce-page .grve-right-sidebar .related ul.products li.product,
.woocommerce-page .grve-right-sidebar .upsells.products ul li.product,
.woocommerce-page .grve-right-sidebar .upsells.products ul.products li.product,
.woocommerce .grve-left-sidebar .related ul li.product,
.woocommerce .grve-left-sidebar .related ul.products li.product,
.woocommerce .grve-left-sidebar .upsells.products ul li.product,
.woocommerce .grve-left-sidebar .upsells.products ul.products li.product,
.woocommerce-page .grve-left-sidebar .related ul li.product,
.woocommerce-page .grve-left-sidebar .related ul.products li.product,
.woocommerce-page .grve-left-sidebar .upsells.products ul li.product,
.woocommerce-page .grve-left-sidebar .upsells.products ul.products li.product {
	width: 100%;
	float: left;
	clear: none;
}