#AdminButtons {
display: block;
position: relative;
margin: 0px auto 10px auto;
width: 300px;
height: 45px;
}

.GlossyButtonLeft {
position: relative;
float: left;
display: block;
margin: 10px;
padding: 0px;
width: 100px;
background: transparent url('../Images/GlossyButtonLeft.jpg') left center no-repeat;
}

.AdminOrButton {
position: relative;
float: left;
display: block;
margin: 0px;
color: #666666;
padding: 19px 0px 0px 4px;
text-align: center;
width: 20px;
}

#AdminButtons .GlossyButtonRight, #AdminButtons .GlossyButtonRight:visited {
position: relative;
display: block;
margin: 0px;
padding: 8px 4px 0px 4px;
width: 100px;
height: 22px;
text-align: center;
text-decoration: none;
font-size: 14px;
color: #666666;
background: transparent url('../Images/GlossyButtonRight.jpg') right center no-repeat;
}

#AdminButtons .GlossyButtonRight:hover {
color: #6666ff;	
}