@charset "utf-8";
/* Dal Richards General CSS Document */

/* Common Styles
*****************************************/
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-image: url(/Images/common/curtains_bkg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 14px;
	line-height: 18px;	 
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #424242;
}
#body_shell {
	width: 760px;
	text-align: left;
	margin: 0px auto;
}
p {
	padding-bottom: 14px;
	margin: 0px;
	line-height: 18px;
}
img {
	border: 0px;
}

ol {
	padding: 0px;
	border: 0px;
	margin: 0px;
	list-style: decimal url(none) inside;
}
ul {
	padding: 0px;
	border: 0px;
	margin: 0px;
	list-style: disc url(none) inside;
}

h3 {
	font-size: 18px;
	color: #003D7D;
	font-weight: bold;
	margin: 0px;
	padding: 0px;	
}

h4 {
	font-size: 16px;
	color: #003D7D;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0px;
}

hr {
	width: 444px;
	height: 2px;
	border: 0px;
	color: #8e060b;
	background-color: #8e060b;	
	margin: 12px 0px 15px 0px;
}
.clearFloats {
	clear: both;
}

/* Link Styles
*****************************************/
a {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
a:link, a:active {	
	color: #003D7D;
}
a:visited {	
	color: #003D7D;	
}
a:hover {
	color: #8e060b;
	text-decoration: underline;
}

.largeLink a:link, .largeLink a:active, .largeLink a:visited {
	font-size: 16px;		
}

/* Picture Styles
*****************************************/
.pictureFloatLeft {
	float: left;
	margin: 0px 10px 5px 0px;
	color: #666666;
	font-size: 10px;
	text-align: center;	
}
.pictureFloatRight {
	float: right;
	padding: 0px 0px 5px 10px;
	color: #666666;
	font-size: 10px;
	text-align: center;	
}

/* Text Styles
*****************************************/
.largeTextTitle {
	font-size: 22px;	
	font-weight: bold;
	margin-bottom: 20px;
	color: #8e060b;
}
.mediumTextTitle {
	font-size: 20px;	
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 5px;
	color: #CC6600;
}
.smallTextTitle {
	font-size: 18px;	
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 5px;
	color: #500000;
}
.textBoxOne {
	position: relative;
	width: 444px;	
	top: 0px;
	left: 252px;
}
.textBoxTwo {
	position: relative;
	width: 444px;	
	top: 5px;
	left: 252px;
	text-align: center;
}

/* Quote Styles
*****************************************/
.Quote {
	font-style: italic;
	font-size: 11px;
}
.QuoteText {
	display: inline;
	color: #424242;
}

.QuoteAuthor {
	display: inline;
	color: #44536c;
}

/* Header Styles
*****************************************/
#header {
	position: relative;
	width: 750px;
	height: 260px;	
	background-image: url(/Images/common/header.jpg);
	background-repeat: no-repeat;
}

/* Middle Content Styles
*****************************************/
#middle {
	position: relative;
	width: 750px;
	min-height: 700px;	
	background-image: url(/Images/common/middle_bkg.jpg);
	background-repeat: repeat-y;
}

/* Footer Styles
*****************************************/
#footer {
	position: relative;
	width: 750px;
	height: 135px;	
	background-image: url(/Images/common/footer.jpg);
	background-repeat: no-repeat;
}

/* CD Track List Styles
*****************************************/
.CDTrackList ol {
	padding: 0px;
	border: 0px;
	margin: 0px;
	list-style: decimal url(none) inside;
	font-size: 12px;
}

/* About Dal Styles
*****************************************/
ul.HonoursList {
	padding: 0px;
	border: 0px;
	margin: 5px 0px 10px 15px;
	list-style: disc url(none) inside;
	line-height: 14px;
	text-indent: -15px;	
}
