body {

background-color: #ffffff;

font-family: 'Trebuchet MS', arial, sans-serif;
font-size: 62.5%; /*resets 1em to 10 pixels */
}

/* ************* DOCUMENT & HEADER *********** */

#Wrapper {

display: block;
width: 620px;
margin: 0 auto;
background: #ffffff;
}


#Header {

display: block;
position: relative;
float: left;
width: 596px;
height: 78px;
margin: 50px 0px 0px 0px;
padding: 0px;
background: #ffffff url('../Images/Header.jpg') bottom left no-repeat;
}

#Header a {

display: block;
position: relative;
margin: 35px 0px 0px 110px;
width: 400px;
height: 30px;
}

#Header span{

display: none;
}

#MenuBar {

display: block;
position: relative;
float: left;
clear: both;
padding: 0px 0px 0px 40px;
margin: 0px 0px 20px 0px;
height: 19px;
width: 546px;
background: transparent;
}

#MenuBar ul {

display: inline;
position: relative;
float: left;
list-style: none;
height: 19px;
width: 546px;
margin: 0px;
padding: 0px;
background: #d1d1d1;
}

#MenuBar .MenuLink {

text-align: left;
display: block;
position: relative;
float: left;
height: 19px;
width: 87px;
padding: 0px;
margin: 0px;
font-size: 11px;
line-height: 11px;
}

#EventsLink {

text-align: left;
display: block;
position: relative;
float: left;
height: 19px;
width: 80px;
padding: 0px;
margin: 0px;
font-size: 11px;
line-height: 11px;
margin-left: 12px; 
}

#MenuBar .First {

text-align: left;
display: block;
position: relative;
float: left;
height: 19px;
width: 89px;
margin: 0px;
font-size: 11px;
line-height: 11px;
background: #d1d1d1 url('../Images/RoundedLeft.jpg') bottom left no-repeat;
padding-left: 12px;
}

#MenuBar .Last {

text-align: left;
display: block;
position: relative;
float: left;
height: 19px;
width: 89px;
margin: 0px;
font-size: 11px;
line-height: 11px;
background: #d1d1d1 url('../Images/RoundedRight.jpg') bottom right no-repeat;
padding-right: 3px;
}

#MenuBar a, #MenuBar a:visited {
padding: 2px 0px 0px 10px;
text-decoration: none;
display: block;
color: #000000;
height: 14px;
border: 1px solid #d1d1d1;
} 

#MenuBar a.Current {
background: transparent url('../Images/RedDot.gif') center left no-repeat;

}



#MenuBar a:hover {

text-decoration: underline;
position: relative;
color: #333333;
background-color: #cbcbcb;
border: 1px solid;
border-color: #bbbbbb #dddddd #dddddd #bbbbbb;

}



#Container {

display: block;
position: relative;
float: left;
width: 100%;
padding: 20px 0px 0px 0px;
margin: 0;
}

/* ************* SIDEBAR *********** */

#SideBar {

float: left;
display: block;
clear: both;
position: relative;
padding: 0px 0px 0px 10px;
margin: 0;
width: 150px;
}


#NewsTOP {

float: left;
display: block;
position: relative;
margin: 0px;
padding: 0px;
width: 149px;
height: 10px;
background: transparent url('../Images/NewsTop.jpg') bottom left no-repeat;
}

#News {

float: left;
display: block;
position: relative;
margin: 0px;
padding: 6px 0px 10px 0px;
width: 149px;
height: auto;
background: transparent url('../Images/NewsMiddle.jpg') top left repeat-y;
}

#News a.linkEvent, #News a.linkEvent:visited {

color: #333333;
text-decoration: none;
display: block;
position: relative;
padding: 3px 0px 0px 0px;
}

#News a.linkTitle, #News a.linkTitle:visited {

color: #000000;
text-decoration: none;
border-bottom: 1px solid #cccccc;
}

#News a.linkTitle:hover, #News a.linkEvent:hover {

color: #000000;
text-decoration: underline;
}

#NewsBOTTOM {

float: left;
display: block;
position: relative;
margin: 0px;
padding: 0px;
width: 149px;
height: 11px;
background: transparent url('../Images/NewsBottom.jpg') top left no-repeat;

}

#UpcomingEvents {

float: left;
display: block;
position: relative;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 35px;
font-size: 11px;
height: 14px;
width: 100px;
line-height: 11px;
text-decoration: underline;

}

#UpcomingEvents {
background: transparent url('../Images/RedDot.gif') 22px 1px no-repeat;
}

* html body h2#UpcomingEvents {
background: transparent url('../Images/RedDot.gif') 22px 3px no-repeat;
}


#SidebarRadio {

text-align: center;
padding: 5px 0px 5px 0px;
}

#SidebarRadio a, #SidebarRadio a:visited {

font-weight: bold;
font-size: 10px;
display: block;
margin: 0px 5px 0px 0px;
background: transparent url('../Images/Radio.jpg') top right no-repeat;
line-height: 12px;
padding: 0px;
color: #ff0000;
text-decoration: none;
}


#SidebarRadio a:hover{

text-decoration: underline;
background: transparent url('../Images/RadioOn.jpg') top right no-repeat;
}

#SidebarRadio span {

display: block;
position: relative;
padding: 4px 30px 0px 0px;
}

#SidebarCDs {

text-align: right;
height: 100px;
margin: 0px 0px 0px -5px;
}

#SidebarCDs a, #SidebarCDs a:visited {

background: transparent url('../Images/CDs.jpg') top left no-repeat;
font-weight: bold;
font-size: 10px;
display: block;
margin: 0px 0px 0px 0px;
padding: 0px;
height: 100px;
color: #000000;
text-decoration: none;
}

#SidebarCDs span {
display: block;
position: relative;
padding: 37px 8px 0px 60px;
}

#SidebarCDs a:hover{

background: transparent url('../Images/CDOn.jpg') top left no-repeat;
color: #333333;
text-decoration: underline;
}

#SidebarLine {

display: block;
float: left;
position: relative;
clear: both;
width: 75px;
height: 10px;
margin: 0px;
padding: 10px 0px 0px 36px;
line-height: 10px;
}

#SidebarBookDal {

margin: 0px;
padding: 0px;
line-height: 11px;
}

#SidebarBookDal p {
width: 132px;
margin: 0px;
line-height: 12px;
padding: 0px 8px 5px 3px;
text-align: justify;
}

#SidebarBookDal a {
margin: 0px;
line-height: 12px;
background: transparent url('../Images/RedDot.gif') 3px 3px no-repeat;
}

* html body div#SidebarBookDal a {
background: transparent url('../Images/RedDot.gif') 3px 5px no-repeat;
}

#SidebarBookDal a, #SidebarBrookDal a:visited {

display: block;
padding: 1px 0px 0px 15px;
text-decoration: none;
color: #666666;
}

#SidebarBookDal a:hover {

text-decoration: underline;
color: #000000;
}

#SidebarDalTV {

margin: 0px;
padding: 10px 0px 0px 10px;
}

#SidebarDalTV a {

display: block;
position: relative;
background: url('../Images/DalTV.jpg') top left no-repeat;
width: 100px;
height: 46px;
margin: 0px;
padding: 0px;
}

#SidebarDalTV a:hover {

background: url('../Images/DalTVOn.jpg') top left no-repeat;
}

#SidebarDalTV a span {

display: none;
}

/* ************* FONT SIZE *********** */


#Fontsize {

	display: block;
	position: relative;
	float: right;
	
	width: 130px;
	height: 17px;
	
	margin: -32px 0px 0px 0px;
	padding: 0px;
}

#FontTitle {

	display: block;
	position: relative;
	float: left;
	
	margin: 0px;
	padding: 0px;
	width: 51px;
	height: 17px;
	background: transparent url('../Images/FontSize/font.jpg') top left no-repeat;
}


#FontSmall {

	display: block;
	position: relative;
	float: left;
	
	margin: 0px;
	padding: 0px;
	width: 18px;
	height: 17px;
	background: transparent url('../Images/FontSize/smallOn.jpg') top left no-repeat;
}

#FontMedium {

	display: block;
	position: relative;
	float: left;
	
	margin: 0px;
	padding: 0px;
	width: 17px;
	height: 17px;
	background: transparent url('../Images/FontSize/mediumOff.jpg') top left no-repeat;
}

#FontLarge {

	display: block;
	position: relative;
	float: left;
	
	margin: 0px;
	padding: 0px;
	width: 18px;
	height: 17px;
	background: transparent url('../Images/FontSize/largeOff.jpg');
}


#FontTitle span, #FontSmall a span, #FontMedium a span, #FontLarge a span {

	display: none;
}


#FontSmall a {

	display: block;
	position: relative;
	
	margin: 0px;
	padding: 0px;
	width: 18px;
	height: 17px;
	background: transparent;
}

#FontMedium a {

	display: block;
	position: relative;
	
	margin: 0px;
	padding: 0px;
	width: 17px;
	height: 17px;
	background: transparent;
}

#FontLarge a {

	display: block;
	position: relative;
	
	margin: 0px;
	padding: 0px;
	width: 18px;
	height: 17px;
	background: transparent;
}


#FontSmall a:hover {

	background: transparent url('../Images/FontSize/smallHover.jpg') top left no-repeat;	
}

#FontMedium a:hover {

	background: transparent url('../Images/FontSize/mediumHover.jpg') top left no-repeat;	
}

#FontLarge a:hover {

	background: transparent url('../Images/FontSize/largeHover.jpg') top left no-repeat;	
}

/* ************* CONTENT *********** */

#Content {

display: block;
float: left;
position: relative;
width: 420px;
padding: 0px 5px 0px 10px;
margin: 0;
font-size: 10px;
line-height: 10px;
}

#Content a, #Content a:visited {
 
color: #0000ff;
}

#Content a:hover {

color: #6666ff;
}

/* ************* FOOTER *********** */

#Footer {

display: block;
position: relative;
padding: 20px 0px 0px 0px;
text-align: center;
clear: both;
}

#Footer p {
	
	background: transparent;
	margin: 0px;
	padding: 0px;
	color: #b6b6b6;
	line-height: 11px;
}

#FooterHR {

display: block;
padding: 0;
margin: 0 auto 10px auto;
width: 389px;
height: 12px;
background: #ffffff url('../Images/Footer.jpg') center center;
}

#FooterHR hr{

	display: none;
}


#Footer a, #Footer a:visited {
text-decoration: none;
color: #b6b6b6;
}


#Footer a:hover {
text-decoration: underline;
}

#FooterCredits{
	
	background: transparent;
	margin: 0px;
	padding: 0px;
	color: #dddddd;
}


#FooterCredits p, #FooterCredits a {

text-decoration: none;
color: #dddddd;
}

/* ************* CLASSES *********** */

.Clearer {

clear: both;
height: 0px;
}


.SidebarElement {

float: left;
position: relative;
display: block;
width: 149px;
background: transparent;
margin: 0px;
padding: 0px;
}

.NewsTitle {

color: #000000;
position: relative;
display: block;
float: left;
clear: both;
width: 110px;
font-size: 10px;
padding: 2px 0px 0px 6px;
margin: 10px 0px 0px 8px;
line-height: 10px;
background: transparent url('../Images/BlackDot.jpg') center left no-repeat;
}

.SidebarHR {

width: 75px;
height: 1px;
display: block;
position: relative;
border-top: 1px solid #cfcfcf;
margin: 0px;
padding: 0px;
float: left;
clear: both;
}

.NewsEvent {

background: transparent;
color: #909090;
position: relative;
display: block;
float: left;
clear: both;
width: 115px;
font-size: 10px;
line-height: 11px;
padding: 2px 0px 0px 20px;
margin: 0;
}