#flashHeader {
	position: absolute;
	width: 760px;
	height: 262px;
	left: 0px;
	top: 0px;	
	z-index: 10;
}
#aboutUsMenu {
	position: absolute;
	width: 126px;
	height: 114px;
	top: 234px;
	left: 205px;
	z-index: 11;
	visibility: hidden;
	padding-left: 3px;
	background-color: #CCCCCC;	
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
#becomeExtraMenu {
	position: absolute;
	width: 206px;
	height: 86px;
	top: 234px;
	left: 308px;
	z-index: 11;
	visibility: hidden;	
	padding-left: 3px;
	background-color: #CCCCCC;	
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
}
#hideDropMenus {
	position: absolute;
	width: 800px;
	height: 500px;
	top: 100px;
	left: -20px;
	z-index: 9;	
	visibility: hidden;
}
.navMenuElement a:link, .navMenuElement a:active, .navMenuElement a:visited {
	padding: 4px;	
	width: 112px;
	height: 18px;
	background-color: #999999;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;	
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	display: block;
	color: #000000;
}
.navMenuElement a:hover {
	padding: 4px;
	width: 112px;
	height: 18px;
	background-color: #666666;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	display: block;
	text-decoration: none;
}

.navMenuElement2 a:link, .navMenuElement2 a:active, .navMenuElement2 a:visited {
	padding: 4px;	
	width: 192px;
	height: 18px;
	background-color: #999999;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;	
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	display: block;
	color: #000000;
}
.navMenuElement2 a:hover {
	padding: 4px;
	width: 192px;
	height: 18px;
	background-color: #666666;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	display: block;
	text-decoration: none;
}
