/* DEFAULT
*****************************************/
body {
	background:#3c3c3c url(/images/layout/bkg.gif) repeat-y center;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size: 14px;
	font-weight: 300;
	color: #000000;
}
#body_shell {
	width:760px;
	text-align:left;
	margin:0px auto;
}

a {
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
}
a:link {	
	color: #CCCCCC;
}
a:visited {	
	color: #CCCCCC;
}
a:hover {
	color: #009933;
	text-decoration:underline;
}

img {
	border:0px;
}

ul, li {
	margin-left: 10px;		
}

.font11pt {
	font-size: 11px;
}

/* HEADER
*****************************************/
#header {
	height: 262px;
	width: 760px;
	background: #3c3c3c url(/images/header/header_bkg.jpg) no-repeat center;
	position: relative;
	text-align: left;			
	z-index: 2;
}

/* MIDDLE
*****************************************/
#middle {
	position: relative;
	height: 334px;
	width: 760px;
	background: #3c3c3c url(/images/middle/homepage_design_middle.jpg) no-repeat center;
	text-align: center; 
}
.middleFlash {
	position: absolute;
	left: 13px;
	top: 0px;
	z-index: 4;
}
.middleText {
	position: absolute;
	width: 295px;
	height: 270px;
	left: 22px;
	top: 28px;
	color: #FFFFFF;
	text-align: left;
	z-index: 5;
	overflow: auto;
	padding-right: 5px;
}
.middleText2 {
	position: absolute;
	width: 295px;
	height: 270px;
	left: 440px;
	top: 28px;
	color: #FFFFFF;
	text-align: left;
	z-index: 5;
	overflow: auto;
	padding-right: 5px;
}
.middleText3 {
	position: absolute;
	width: 710px;
	height: 330px;
	left: 22px;
	top: 0px;
	color: #FFFFFF;
	text-align: left;
	z-index: 5;
	overflow: auto;
	padding: 5px;
	border: 2px solid #000000;
	background-color: #333333;
}
.middleTitle {
	font-size: 14px;
	font-weight: bold;
}

/* FOOTER
*****************************************/
#footer {
	height: 254px;
	width: 760px;
	background: #3c3c3c url(/images/footer/homepage_design_footer.jpg) no-repeat center;
}

/* REGISTRATION FORM
*****************************************/
.registrationForm {
	background-color: #000000;
	background-image: url(/images/registration/registration_bkg.jpg);
	background-repeat: no-repeat;
	padding-left: 100px;
	padding-right: 120px;
	padding-top: 75px;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}